@model KTMKomuter.Models.TicketTransaction
@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Ticket Details
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold float-left">Ticket Id:</label>
                                @Html.DisplayFor(x => x.TicketId)
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold float-left">Date and Time:</label>
                                @Html.DisplayFor(x => x.ViewDateTime)
                            </div>
                            <div class="form-group">
                                <h5 class="font-weight-bold float-left">Customer Information</h5>
                                <div class="float-left ml-3">
                                    <label class="font-weight-bold">Name:</label>
                                    @Html.DisplayFor(x => x.CustName)
                                </div>
                                <div class="float-left ml-3">
                                    <label class="font-weight-bold">IC/Passport No:</label>
                                    @Html.DisplayFor(x => x.CustIdentity)
                                </div>
                                <div class="float-left ml-3">
                                    <label class="font-weight-bold">Email:</label>
                                    @Html.DisplayFor(x => x.CustEmail)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5 class="font-weight-bold float-left">Ticket Information</h5>
                                <div class="float-left ml-3">
                                    <label class="font-weight-bold">Departure:</label>
                                    @Html.DisplayFor(x => x.DictDeparture[Model.IndexDeparture])
                                </div>
                                <div class="float-left ml-3">
                                    <label class="font-weight-bold">Arrival:</label>
                                    @Html.DisplayFor(x => x.DictArrival[Model.IndexArrival])
                                </div>
                                <div class="float-left ml-3">
                                    <label class="font-weight-bold">Category:</label>
                                    @Html.DisplayFor(x => x.DictCategory[Model.IndexCategory])
                                </div>
                                <div class="float-left ml-3">
                                    <label class="font-weight-bold">Ticket Type:</label>
                                    @Html.DisplayFor(x => x.DictType[Model.IndexTypeTicket])
                                </div>
                                <div class="float-left ml-3">
                                    <label class="font-weight-bold">Total Amount:</label>
                                    @Html.DisplayFor(x => x.IndexQuantity)
                                </div>
                                <div class="float-left ml-3">
                                    <label class="font-weight-bold">Total Amount:</label>
                                    @Html.DisplayFor(x => x.TotalAmount)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    @Html.ActionLink("Back to List", "AdminDashboard", null, new { @class = "btn btn-back" })
                </div>
            </div>
        </div>
    </main>
</div>
