@model KTMKomuter.Models.TicketTransaction
@{
    ViewData["Title"] = "Order Ticket";
}

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="booking-cta">
                        <h1>Secure Your KTM Komuter Ticket Now</h1>
                        <p>Experience seamless travel with the convenience of online booking. Ensure your journey is planned and peaceful by reserving your seat today.</p>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="booking-form">
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Passenger Information</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">@Html.DisplayNameFor(x => x.CustName)</span>
                                        @Html.TextBoxFor(x => x.CustName, new { @class = "form-control", placeholder = "Your Name" })
                                        @Html.ValidationMessageFor(x => x.CustName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">@Html.DisplayNameFor(x => x.CustIdentity)</span>
                                        @Html.TextBoxFor(x => x.CustIdentity, new { @class = "form-control", placeholder = "000000000000" })
                                        @Html.ValidationMessageFor(x => x.CustIdentity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">@Html.DisplayNameFor(x => x.CustEmail)</span>
                                        @Html.TextBoxFor(x => x.CustEmail, new { @class = "form-control", placeholder = "Your Email" })
                                        @Html.ValidationMessageFor(x => x.CustEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Ticket Information</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">@Html.DisplayNameFor(x => x.IndexDeparture)</span>
                                        @Html.DropDownListFor(x => x.IndexDeparture,
                                                 new SelectList(Model.DictDeparture, "Key", "Value"), "Origin"
                                                 , new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.IndexDeparture, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">@Html.DisplayNameFor(x => x.IndexArrival)</span>
                                        @Html.DropDownListFor(x => x.IndexArrival,
                                                 new SelectList(Model.DictArrival, "Key", "Value"), "Destination"
                                                 , new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.IndexArrival, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">@Html.DisplayNameFor(x => x.IndexCategory)</span>
                                        @Html.DropDownListFor(x => x.IndexCategory,
                                                 new SelectList(Model.DictCategory, "Key", "Value"), "Select category:"
                                                 , new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.IndexCategory, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">@Html.DisplayNameFor(x => x.IndexTypeTicket)</span>
                                        @Html.DropDownListFor(x => x.IndexTypeTicket,
                                                 new SelectList(Model.DictType, "Key", "Value"), "Select type:"
                                                 , new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.IndexTypeTicket, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">@Html.DisplayNameFor(x => x.IndexQuantity)</span>
                                        @Html.TextBoxFor(x => x.IndexQuantity, new { @class = "form-control", placeholder = "0" })
                                        @Html.ValidationMessageFor(x => x.IndexQuantity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn" type="submit">Book Ticket</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
