@model KTMKomuter.Models.TicketTransaction

<head>
    <title>Ticket Invoice</title>
    <link href="~/css/ticket.css" rel="stylesheet" />
</head>
<body>
    <p>
        <label>Ticket Id:</label>
        @Html.DisplayFor(x => x.ViewId)
    </p>
    <p>
        <label>Date and time:</label>
        @Html.DisplayFor(x => x.ViewDateTime)
    </p>

    <h5>Passenger Information</h5>
    <p>
        <label>Name:</label>
        @Html.DisplayFor(x => x.CustName)
    </p>
    <p>
        <label>IC/Passport No:</label>
        @Html.DisplayFor(x => x.CustIdentity)
    </p>
    <p>
        <label>Email:</label>
        @Html.DisplayFor(x => x.CustEmail)
    </p>

    <h5>Ticket Information</h5>
    <p>
        <label>From station:</label>
        @Html.DisplayFor(x => x.DictDeparture[Model.IndexDeparture])
    </p>
    <p>
        <label>To station:</label>
        @Html.DisplayFor(x => x.DictArrival[Model.IndexArrival])
    </p>
    <p>
        <label>Category:</label>
        @Html.DisplayFor(x => x.DictCategory[Model.IndexCategory])
    </p>
    <p>
        <label>Type:</label>
        @Html.DisplayFor(x => x.DictType[Model.IndexTypeTicket])
    </p>
    <p>
        <label>Quantity:</label>
        @Html.DisplayFor(x => x.IndexQuantity)
    </p>
    <p>
        <label>Total Amount:</label>
        @Html.DisplayFor(x => x.TotalAmount)
    </p>
</body>